{
    "serviceName" : 
    [
        "nameOfService.service",
        "nameOfService2.service"

    ],
    "sudoSettings": {
        "username": "linux sudoer username",
        "password": "password"
    }

}
